<md-toolbar class="md-toolbar" style="z-index: 70;">
  <div class="md-toolbar-tools" layout-align="space-between center">
    <div layout-align="start center" layout="row">
      <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="$ctrl.toggleLeft()"
                 title="Toggle Menu">
        <md-icon md-svg-icon="/img/ic_menu_white_48px.svg"></md-icon>
      </md-button>
      <md-button layout="row" class="md-icon-button" aria-label="Home" ng-disabled="false" ui-sref="app" title="Go Home"
                 style="width: 200px;" layout-align="start center">
        <span>Daylight Simulator</span>
      </md-button>
    </div>
    
    
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="/img/sunset.svg"></md-icon>
    
    </md-button>
  </div>
</md-toolbar>
<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
  
  <md-toolbar class="md-toolbar">
  </md-toolbar>
  
  <md-content>
    <md-list flex>
      <md-subheader>Menu</md-subheader>
      <md-list-item class="md-1-line" ui-sref="home" ng-click="$ctrl.closeLeft()">
        <p>
          Main
        </p>
      </md-list-item>
      <md-list-item class="md-1-line" ui-sref="config" ng-click="$ctrl.closeLeft()">
        <p>
          Config
        </p>
      </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
