<md-toolbar class="md-warn" ng-if="$ctrl.error">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Error loading config...</h2>
  </div>
</md-toolbar>
<md-content layout="column" layout-padding>
  <h1>General Configuration</h1>
  <section layout="row" layout-align="start center" layout-wrap>
    <md-input-container>
      <label>Hue Bridge IP</label>
      <input ng-model="$ctrl.config.bridgeIp">
    </md-input-container>
  </section>
  <section layout="row" layout-xs="column" layout-align="start center" layout-align-xs="center start">
    <md-input-container flex="30" style="margin-top: 5px; min-width: 420px;">
      <label>Hue User</label>
      <input ng-model="$ctrl.config.user">
    </md-input-container>
    <md-input-container>
      <md-button style="margin-bottom: 35px;" class="md-raised md-primary" ng-click="$ctrl.newUser()">New User
      </md-button>
    </md-input-container>
  </section>
  <section layout="row" layout-align="start center" layout-wrap>
    <md-input-container flex="6">
      <label>Device Number</label>
      <input ng-model="$ctrl.config.light" type="number">
    </md-input-container>
  </section>
  <section layout="row" layout-align="start center" layout-wrap>
    <md-button class="md-raised" ng-click="$ctrl.resetConfig()">Reset</md-button>
    <md-button class="md-raised md-primary" ng-click="$ctrl.saveConfig()">Save</md-button>
  </section>
</md-content>
